################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SharpKeys/.vs/SharpKeys/v14/.suo
/SharpKeys/obj/Debug
